databases:
  - name: hsrgreenhomes_db
    databaseName: hsrgreenhomes_db
    user: hsrgreenhomes_user
    plan: free

services:
  - type: web
    name: hsr-green-homes-api
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: hsrgreenhomes_db
          property: connectionString
      - key: WEB_CONCURRENCY
        value: 4